    /*Primary */
    
    $colorSoftorange: hsl(35, 77%, 62%);
    $colorSoftred: hsl(5, 85%, 63%);
    /*Neutral */
    
    $colorOff-white: hsl(36, 100%, 99%);
    $colorGrayishblue: hsl(233, 8%, 79%);
    $colorDarkgrayishblue: hsl(236, 13%, 42%);
    $colorVerydarkblue: hsl(240, 100%, 5%);